@{
    ViewBag.Title = "PayUnSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-error">
  <h4>UnSuccess!</h4>
  <p>Giao dich khong thanh cong. Ban co the click vao nut "Thu lai" de thuc hien lai thanh toan</p>
  <p><a class="btn btn-primary" href="@Url.Action("Onepay", "Home")">Thu lai</a></p>
</div>

